<!DOCTYPE html>
<html>
<title>DineshPatel-frontpage-profile</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>

<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
h2 {
  color: "red";
}

</style>
<body class="gray">


<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">

    <!-- Left Column -->
<div class="w3-third">
    
<div class="w3-white w3-text-gray w3-card-4 ">
<div class="w3-container">


<p class=" w3-xlarge"><b> Dinesh Patel</b></p>


    <p><i class="fas fa-id-card fa-fw w3-margin-right w3-large w3-text-teal"></i>Web Developer</p>
    <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Atlanta, GA</p>

    <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>dcpatel1@hotmail.com</p>

    <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>404-513-6072</p>
    <p><i class="fa fa-keyboard fa-fw w3-margin-right w3-large w3-text-teal"></i>www.dineshpatel.ga</p>

    <p><i class="fa fa-keyboard fa-fw w3-margin-right w3-large w3-text-teal"></i>https://dcp1.github.io</p>
    <p><i class="fa fa-keyboard fa-fw w3-margin-right w3-large w3-text-teal"></i>https://dinesh-patel.herokuapp.com</p>
    
    <hr>
     
         <p class="w3-large"><b><i class=" fa-fw w3-margin-right w3-text-teal"></i>Front-End</b></p>
        
    <p><i class="fab fa-html5 fa-fw w3-margin-right w3-large w3-text-teal"></i>HTML</p>
    <p><i class="fab fa-css3 fa-fw w3-margin-right w3-large w3-text-teal"></i>CSS Bootstrap </p>
    <p><i class="fab fa-css3 fa-fw w3-margin-right w3-large w3-text-teal"></i>W3.CSS </p>
    <p><i class="fab fa-css3 fa-fw w3-margin-right w3-large w3-text-teal"></i>Semantic UI </p>
    <p><i class="fab fa-js fa-fw w3-margin-right w3-large w3-text-teal"></i>JavaScript </p>
    <p><i class="fab fa-js fa-fw w3-margin-right w3-large w3-text-teal"></i>jQuery </p>


    <p class="w3-large"><b><i class="fa-fw w3-margin-right w3-text-teal"></i>Back-End</b></p>

    <p><i class="fab fa-js fa-fw w3-margin-right w3-large w3-text-teal"></i>JavaScript </p>
    <p><i class="fab fa-node fa-fw w3-margin-right w3-xlarge w3-text-teal"></i>Node.js </p>
    <p><i class="fas fa-code fa-fw w3-margin-right w3-xlarge w3-text-teal"></i>Express </p>
    <p><i class="fas fa-database fa-fw w3-margin-right w3-xlarge w3-text-teal"></i>MongoDB </p>
    
    <p class="w3-large"><b><i class=" fa-fw w3-margin-right w3-text-teal"></i>Misc</b></p>

    <p><i class="fab fa-git fa-fw w3-margin-right w3-xlarge w3-text-teal"></i>Git </p>
    <p><i class="fab fa-github fa-fw w3-margin-right w3-xlarge w3-text-teal"></i>GitHub </p>
    <p><i class="fas fa-rocket fa-fw w3-margin-right w3-xlarge w3-text-teal"></i>Heroku </p>
    <p><i class="fas fa-edit fa-fw w3-margin-right w3-xlarge w3-text-teal"></i>Sublime </p>
    <p><i class="fab fa-codepen fa-fw w3-margin-right w3-xlarge w3-text-teal"></i>CodePen </p>
    <p><i class="fas fa-cloud fa-fw w3-margin-right w3-xlarge w3-text-teal"></i>Cloud9 </p>
    <p><i class="fas fa-code fa-fw w3-margin-right w3-xlarge w3-text-teal"></i>RESTful API </p>

  <p class="w3-large"><b><i class="fa-fw w3-margin-right w3-text-teal"></i>Business Competencies</b></p>

  <p><i class="fas fa-people-carry fa-fw w3-margin-right w3-xlarge w3-text-teal"></i>Collaboration</p>
  <p><i class="fas fa-project-diagram fa-fw w3-margin-right w3-xlarge w3-text-teal"></i>Project Management</p>
  <p><i class="fas fa-signal fa-fw w3-margin-right w3-xlarge w3-text-teal"></i>Process Improvements</p>
  <p><i class="fas fa-dice-six fa-fw w3-margin-right w3-xlarge w3-text-teal"></i>Six Sigma</p>
    
  <p class="w3-large"><b><i class="fa-fw w3-margin-right w3-text-teal"></i>Academics</b></p>

  <p><i class="fas fa-school fa-fw w3-margin-right w3-xlarge w3-text-teal"></i>B. S. Mechanical Engineering Technology, Georgia</p>
  <p><i class="fas fa-dice-six fa-fw w3-margin-right w3-xlarge w3-text-teal"></i>Six Sigma Green B Training</p>


  <p><i class="fas fa-project-diagram fa-fw w3-margin-right w3-xlarge w3-text-teal"></i>Project Management Training</p>
  <p><i class="fas fa-chalkboard-teacher fa-fw w3-margin-right w3-xlarge w3-text-teal"></i> The Web Developer Bootcamp by Colt Steele</p>
  <p><i class="fab fa-free-code-camp fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>freeCodeCamp.com</p>
  
  </div> <!-- closing <div class="w3-container"> -->
  
  </div><!-- closing <div class="w3-white w3-text-gray w3-card-4 "> -->
  </div><!-- closing w3-third div-->
    
    <!-- End Left Column -->
 
    <!-- Right Column -->
    <div class="w3-twothird ">
   <div class="w3-text-gray" >   
    <div class ="w3-white w3-text-gray ">
        <div class="w3-container w3-card-4">
        <!--
        <div class="w3-container w3-card w3-white w3-margin-top w3-margin-bottom">
        -->
        <h4 class="w3-text-gray w3-padding-16"><i class="fa fa-bullseye  w3-margin-right w3-large w3-text-teal"></i><b>Goal</b></h4>

        <p class="w3-text-gray">Robust JavaScript Web Development by leveraging competencies and skills gained by transforming engineering projects from ‘ideation’ to ‘commercialization’ through prototyping, quality analysis, and exploring and applying new technologies for design optimization.<br></p>
      </div>

      <div class="w3-container w3-card-4 w3-white w3-margin-top w3-margin-bottom">
        <h4 class="w3-text-gray w3-padding-16"><i class="fas fa-flag  w3-margin-right w3-large w3-text-teal"></i><b>Highlights</b></h4>

        <p >
          <ul class="w3-text-gray">

          <li>Applied jQuery to build an amazing RGB-color game.</li>
          <li>Designed and developed a website for a shipping business, Easymail, to help customers track UPS and FedEx shipments.</li>
          <li>Increased market penetration by applying Search Engine Optimization (SEO).</li>
          <li>Built applications with Node.js on Express framework.</li>
          <li>Developed Node.js application with RESTful API and deployed through Heroku and GitHub</li>
          
           <li>Experienced to apply CSS frameworks like Semantic UI, W3.CSS, and Bootstrap.</li>
          <li>Accomplished CSS manipulation through jQuery.</li>
          <li>Converted “Proof-of-Concept” ideas into functional and operational systems.</li>
          
          <li>Proven skills to establish methodologies and processes to perform lifecycle tests to verify, validate, and establish various criteria for given components and systems.</li>
           <li>Leverages various SMEs technical and business know-hows to add value to the progress of overall project on hand.</li>
          <li>Experienced to present technical information to technical and non-technical audience.</li>
          <li>Excellent ability to apply analytical, diagnostic, and problem solving skills in fast-paced and cross-functional teams.</li>
          
          </ul>
</p>
      </div>
    
    <div class="w3-container w3-card-4 w3-white w3-margin-top w3-margin-bottom">
        <h4 class="w3-text-gray w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-large w3-text-teal"></i><b>Work Experience</b></h4>
       
        <div class="w3-container ">
          <h5 class="w3-opacity"><b>Systems Development Engineer</b></h5>
          <h6 class="w3-opacity">Principal Engineering Technician</h6>
          <h6 class="w3-opacity">Engineering Consultants</h6>
          <h6 class="w3-opacity">Engineering Technician</h6>
          <h6 class="w3-opacity">The Coca-Cola Company, Atlanta, Georgia</h6>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>1993 - <span class="w3-tag w3-teal w3-round">Current</span></h6> 
          <!--</div>added on 11/10-->     
<p>
<hr><hr>



<div class="w3-text-gray">
<p>
  <i class="w3-text-gray fas fa-people-carry fa-fw w3-margin-right w3-xlarge w3-text-teal"></i>
  <b>Collaboration</b>
</p>

<ul class="w3-text-gray">
  <li>
  Identified critical technical challenges involving product sold-out, calibration, beverage quality, reliability of components, and integration of software. 
  </li>
  <li>Helped build a team of SMEs who can efficiently address those key technical challenges.
  </li>
</ul>

  <b>Result: </b>
  Rapid progression of project from ‘ideation’ to a ‘field-test’ stage.

<ul>  
  <li>
  Established criteria to evaluate reliability of new design of package and its impact on overall-system, and beverage quality.
  </li>

  <li>Facilitated engagement of cross-functional teams for chemical analysis.
  </li>
  </ul>
  

  <b>Result: </b>
  Rapid development of design of system which minimized mechanical failures while maintaining homogeneity of the fluid inside the package.



<hr>

<p>
  <i class="w3-text-gray fas fa-project-diagram fa-fw w3-margin-right w3-xlarge w3-text-teal"></i>
  <b>Project Management</b>
</p>
<ul>
<li>
  Defined software, mechanical, and beverage quality-criteria, developed and wrote Standard Operating Procedures to evaluate those criteria.</li>
  
  <li>Planned time-constrained and resource-constrained schedules to complete the project.</li>
  
  <li>Formed, trained, and managed a team to execute against the planned schedules.</li>
</ul>
  
  <b>Result: </b>
  Gained actionable and timely insights about the limitations and challenges of system which prepared the Company for a successful product-launch.

<hr>
<p>
  <i class="w3-text-gray fas fa-signal fa-fw w3-margin-right w3-xlarge w3-text-teal"></i>
  <b>Process Improvements</b>
</p>

<ul>
  <li>
 Identified critical variables affecting nucleation and slush-development. Developed various Design-Of-Experiments, DOEs' to quantify, analyze, and understand those variables. 
</li>
</ul>
 
  <b>Result: </b>
  Rapid progression of project from a proof-of-Concept to field tests.

<ul>
  <li>
 Developed and performed various performance evaluation tests to quantify, document, and understand quality of final beverages.  Provided solutions to improve the system and beverage quality.</li>
</ul>

  <b>Result: </b>
  Enabled commercialization of about 50,000+ Freestyle dispensers in the USA.
 <hr>
<p>
  <i class="w3-text-gray fas fa-unlock-alt fa-fw w3-margin-right w3-xlarge w3-text-teal"></i>
  <b>
Problem Analysis</b>
</p>

<ul>
<li>
 Designed test-configurations composed of controls, sensors, and instruments to perform various reliability tests.</li>
 </ul>
  <b>Result: </b>
  Successful executions of various R & D projects through years.

   <hr>     
<h5 class=" w3-text-gray"><b>Business Owner/Operator</b></h5>
<h5 class="w3-opacity">Easymail, Duluth, GA</h5>
<h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2008 - <span class="w3-tag w3-teal w3-round">2014</span></h6>
  <ul>
    <li>
    Managed a retail business providing packaging, shipping, and truck rental services.</li>
    <li>
   Introduced new products and services, reduced expenses, and re-negotiated lease-contracts.
</li>
  
  <li> Developed a website to help customers track UPS and FedEx shipments. Increased market penetration by applying Search Engine Optimization to website.</li>
</ul>
  <b>Result: </b>
  <ul>
    <li> Increased cash-flow by +100% from 2009 to 2014.
    <li> SEO increased market penetration and customer flow.</li>
  </ul>
</div>
</div><!--Sysytems Dev Container -->

</div><!--workexperience div-->
</div>     
    <!-- End Right Column -->
    </div>
  </div>
   </div> 
  <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
</div>



<footer class="w3-container w3-teal w3-center w3-margin-top">
 <!--

  <p Find me on social media.Remove 'x' from class toamke it visable></p>
  <i class="xfa fa-facebook-official w3-hover-opacity"></i>
  <i class="xfa fa-instagram w3-hover-opacity"></i>
  <i class="xfafa fa-snapchat w3-hover-opacity"></i>
  <i class="xfa fa-pinterest-p w3-hover-opacity"></i>
  <i class="xfa fa-twitter w3-hover-opacity"></i>
  <i class="xfa fa-linkedin w3-hover-opacity"></i>
-->
  <ul style="list-style-type: none" >Thanks to:
    <li>www.sublimetext.com</li>
    <li>https://github.com.com</li>
    <li>www.freenom.com</li>
    <li>www.heroku.com</li>
    <li>https://nodejs.org</li>
    <li>https://expressjs.com</li>
    <li>https://npmjs.com</li>
    <li>www.unsplash.com</li>
    <li>www.theweather.com</li>
    <li>www.w3schools.com/w3css</li>
    <li>...and many more.</li>
  </ul>
  
</footer>

</body>
</html>
