<!DOCTYPE html>
<html>
<title>Dinesh Patel-Profile</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" type="text/css" href="/app.css">

<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
h2 {
  color: "red";
}

</style>
<body class="gray">


<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">

    <!-- Left Column -->
<div class="w3-third">
    
<div class="w3-whitw w3-text-grey w3-card-4">
<div class="w3-container">


<p class=" w3-xlarge"><b> Dinesh Patel</b></p>


    <p><i class="fas fa-id-card fa-fw w3-margin-right w3-large w3-text-teal"></i>Web Developer</p>
    <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Atlanta, GA</p>
    <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>dcpatel1@hotmail.com</p>
    <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>404-513-6072</p>
    <hr>
      
      <p class="w3-large"><b><i class=" fa-fw w3-margin-right w3-text-teal"></i>Projects</b></p>
        
   <a href="/color"><i class="fas fa-palette fa-fw w3-margin-right w3-theme-d2 w3-large w3-bar-block  w3-text-teal"></i>Color-Quizz</a>
    
    
    <p class="w3-large"><b><i class=" fa-fw w3-margin-right w3-text-teal"></i>Front-End</b></p>
        
    <p><i class="fab fa-html5 fa-fw w3-margin-right w3-large w3-text-teal"></i>HTML</p>
    <p><i class="fab fa-css3 fa-fw w3-margin-right w3-large w3-text-teal"></i>CSS Bootstrap </p>
    <p><i class="fab fa-css3 fa-fw w3-margin-right w3-large w3-text-teal"></i>CSS Grid </p>
    <p><i class="fab fa-js fa-fw w3-margin-right w3-large w3-text-teal"></i>JavaScript </p>

    <p class="w3-large"><b><i class="fa-fw w3-margin-right w3-text-teal"></i>Back-End</b></p>

    <p><i class="fab fa-node fa-fw w3-margin-right w3-xlarge w3-text-teal"></i>Node.js </p>
    <p><i class="fas fa-code fa-fw w3-margin-right w3-xlarge w3-text-teal"></i>Express </p>
    <p><i class="fas fa-database fa-fw w3-margin-right w3-xlarge w3-text-teal"></i>MongoDB </p>
    
    <p class="w3-large"><b><i class=" fa-fw w3-margin-right w3-text-teal"></i>Misc</b></p>

    <p><i class="fab fa-git fa-fw w3-margin-right w3-xlarge w3-text-teal"></i>Git </p>
    <p><i class="fab fa-github fa-fw w3-margin-right w3-xlarge w3-text-teal"></i>Git Hub </p>
    <p><i class="fas fa-rocket fa-fw w3-margin-right w3-xlarge w3-text-teal"></i>Heroku </p>
    <p><i class="fas fa-edit fa-fw w3-margin-right w3-xlarge w3-text-teal"></i>Sublime </p>
    <p><i class="fab fa-codepen fa-fw w3-margin-right w3-xlarge w3-text-teal"></i>CodePen </p>
    <p><i class="fas fa-cloud fa-fw w3-margin-right w3-xlarge w3-text-teal"></i>Cloud9 </p>
    
  <p class="w3-large"><b><i class="fa-fw w3-margin-right w3-text-teal"></i>Business Competencies</b></p>

  <p><i class="fas fa-lightbulb fa-fw w3-margin-right w3-xlarge w3-text-teal"></i>Innovation</p>
  <p><i class="fas fa-people-carry fa-fw w3-margin-right w3-xlarge w3-text-teal"></i>Collaboration</p>
  <p><i class="fas fa-project-diagram fa-fw w3-margin-right w3-xlarge w3-text-teal"></i>Project Management</p>
  <p><i class="fas fa-signal fa-fw w3-margin-right w3-xlarge w3-text-teal"></i>Process Improvements</p>
  <p><i class="fas fa-dice-six fa-fw w3-margin-right w3-xlarge w3-text-teal"></i>Six Sigma</p>
    
  <p class="w3-large"><b><i class="fa-fw w3-margin-right w3-text-teal"></i>Academics</b></p>

  <p><i class="fas fa-school fa-fw w3-margin-right w3-xlarge w3-text-teal"></i>B. S. Mechanical Engineering Technology, Georgia</p>
  <p><i class="fas fa-dice-six fa-fw w3-margin-right w3-xlarge w3-text-teal"></i>Six Sigma Green B Training</p>


  <p><i class="fas fa-project-diagram fa-fw w3-margin-right w3-xlarge w3-text-teal"></i>Project Management Training</p>
  <p><i class="fas fa-chalkboard-teacher fa-fw w3-margin-right w3-xlarge w3-text-teal"></i> The Web Developer Bootcamp by Colt Steele</p>
  <p><i class="fab fa-free-code-camp fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>freeCodeCamp.com</p>
  
  </div>
  
  </div>
      </div>
    
      

    <!-- End Left Column -->
 

    <!-- Right Column -->
    <div class="w3-twothird">
      <div class="w3-container w3-card w3-white w3-margin-bottom w3-padding-16">
        <h4 class="w3-text-gray w3-padding-16"><i class="fas fa-bullseye fa-fw w3-margin-right w3-large w3-text-teal"> </i><b>Goal</b></h4>

        <p class="w3-text-gray">Robust ‘Web Development’ by leveraging competencies and skills gained by transforming engineering projects from ‘ideation’ to ‘commercialization’ through prototyping, quality analysis,  and design optimization.</p>
      </div>
    
    <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h4 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-large w3-text-teal"></i><b>Work Experience</b></h4>
        
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Systems Development Engineer</b></h5>
          <h5 class="w3-opacity">Principal Engineering Technician</h5>
          <h5 class="w3-opacity">Engineering Technician</h5>
          <h5 class="w3-opacity">The Coca-Cola Company, Atlanta, Georgia</h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>1993 - <span class="w3-tag w3-teal w3-round">Current</span></h6>      
<p>
<hr><hr>
<p>
  <i class="w3-text-grey fas fa-lightbulb fa-fw w3-margin-right w3-xlarge w3-text-teal"></i>
  <b>Innovation</b>
</p>

<p>
  Defined critical relationships between temperature, pressure, and flow characteristics of CO2 and water in production and dispensability of carbonated water, which helped to accelerate the development of a system capable to produce and pack a beverage with a custom-recipe created and ordered by a customer on-line.
  <br>
  <b>Result: </b>
  Moved project from ‘ideation’ to a ‘field-test’ stage with a potential to create a brand-new market segment. 
</p>

<p> 
  Modified micro-dose-dispense system which can utilize existing bulk-storage system, chillers, and supply system to produce final beverages. Resulting in integration of legacy system with new innovative platform.
  <br>
  <b>Result: </b>
  Successful integration of legacy system with new innovative platform.
  'Buy-in' from senior leadership to kick-start a major cost-saving project for a customer.
</p>
<hr>

<p>
  <i class="w3-text-grey fas fa-people-carry fa-fw w3-margin-right w3-xlarge w3-text-teal"></i>
  <b>Collaboration</b>
</p>

<p>
  Identified critical technical challenges involving product sold-out, calibration, beverage quality, reliability of components, and integration of software. 
  Helped build a team of SMEs who can efficiently address those key technical challenges.
  <br>
  <b>Result: </b>
  Rapid progression of project from ‘ideation’ to a ‘field-test’ stage..
</p>
<p>
Established criteria to evaluate reliability of new design of package and its impact on overall-system, and beverage quality.
<br>
Facilitated engagement of cross-functional teams for chemical analysis. 
<br>
  <b>Result: </b>
  Rapid development of design of system which minimized mechanical failures while maintaining homogeneity of the fluid inside the package.
</p>
<hr>

<p>
  <i class="w3-text-grey fas fa-project-diagram fa-fw w3-margin-right w3-xlarge w3-text-teal"></i>
  <b>Project Management</b>
</p>

<p>
  Defined software, mechanical, and beverage quality-criteria, developed and wrote Standard Operating Procedures to evaluate those criteria.
  
  <p>Planned time-constrained and resource-constrained schedules to complete the project.</p>
  
  Formed, trained, and managed a team to execute against the planned schedules.
  <br> 
  <b>Result: </b>
  Gained actionable insights about the limitations and challenges of system which prepared the Company for timely and successful product-launch.
</p>
<hr>
<p>
  <i class="w3-text-grey fas fa-signal fa-fw w3-margin-right w3-xlarge w3-text-teal"></i>
  <b>Process Improvements and Procedures</b>
</p>

<p>
 Identified critical variables affecting slush-development and nucleation, and developed DOEs to quantify and understand those variables. 
 <br>
  <b>Result: </b>
  Rapid progression of project from proof-of-Concept to field test.
</p>
<hr>
<p>
 Developed and performed various performance evaluation tests to quantify, document, and understand quality of final beverage.  Provided solutions to improve the system and beverage quality.
 <br>
  <b>Result: </b>
  Enabled commercialization Freestyle dispenser with about 50,000 plus units.
</p>
 <hr>
<p>
  <i class="w3-text-grey fas fa-unlock-alt fa-fw w3-margin-right w3-xlarge w3-text-teal"></i>
  <b>
Problem Analysis</b>
</p>

<p>
 Designed test-configurations composed of controls, sensors, and instruments to perform various reliability tests.
 <br>
  <b>Result: </b>
  Successful executions of various R & D projects through years.
</p>

   <hr>     
<h5 class="w3-opacity"><b>Business Owner/Operator</b></h5>
<h5 class="w3-opacity">Easymail, Duluth, GA</h5>
<h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2008 - <span class="w3-tag w3-teal w3-round">2014</span></h6>
  <p>
    Managed a retail business providing packaging, shipping, and truck rental services.
  Increased cash-flow by 100% in from 2009 to 2014 years by introducing new product and services, cost reduction, and re-negotiating leases and contracts.
  </p>
</div>


</div>
      
    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
</div>

<hr><hr>
<footer class="w3-container w3-teal w3-center w3-margin-top">
 

  <p Find me on social media.Remove 'x' from class toamke it visable></p>
  <i class="xfa fa-facebook-official w3-hover-opacity"></i>
  <i class="xfa fa-instagram w3-hover-opacity"></i>
  <i class="xfafa fa-snapchat w3-hover-opacity"></i>
  <i class="xfa fa-pinterest-p w3-hover-opacity"></i>
  <i class="xfa fa-twitter w3-hover-opacity"></i>
  <i class="xfa fa-linkedin w3-hover-opacity"></i>
  <ul>Credits/Thanks:
    <li>www.www.w3schools.com</li>
    <li>www.freecodecamp.com</li>
    <li>www.tutorialspoint.com</li>
    <li>www.travesrymedia.com</li>
    <li>The Webdeveloper Bootcamp by Colt Steel on Udemy</li>
    <li>...and many more individuals, communities and businesses on-line.</li>
  </ul>
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>

</body>
</html>
